/**
 * Modal
 */
/* line 7, ../scss/modal.scss */
#modal {
  display: none;
  content: ' ';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.8);
  pointer-events: all;
}

/* line 21, ../scss/modal.scss */
.watching #modal {
  display: block;
}
