/**
 * Polaroid layout
 */
/* line 29, ../scss/polaroid.scss */
.polaroid {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  z-index: 1;
  width: 306px;
  height: 336px;
  margin: 7.5px;
  padding: 15px 15px 45px 15px;
  background-color: white;
  cursor: pointer;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

/* line 48, ../scss/polaroid.scss */
.polaroid .image {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: all;
}
/* line 56, ../scss/polaroid.scss */
.polaroid img {
  display: block;
  width: 100%;
  height: auto;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}

/* line 67, ../scss/polaroid.scss */
.polaroid:not(.active):hover img {
  -moz-transform: scale(1.6);
  -ms-transform: scale(1.6);
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

/* line 73, ../scss/polaroid.scss */
.polaroid.active {
  z-index: 10;
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}
