/**
 * Polaroid Close button
 */
/* line 8, ../scss/polaroid__close.scss */
.polaroid .close {
  display: none;
  position: absolute;
  top: -7px;
  right: -7px;
  z-index: 5;
  width: 15px;
  height: 14px;
  border: 1px solid white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: black;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  pointer-events: all;
}
/* line 23, ../scss/polaroid__close.scss */
.polaroid .close:after {
  position: absolute;
  top: 0;
  left: 3px;
  display: block;
  content: '+';
  text-indent: 0px;
  color: white;
  font-size: 13px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 37, ../scss/polaroid__close.scss */
.polaroid.active .close {
  display: block;
}
