//
//
//  # # # # # # # # # # #
//  #                   #
//  #                   #
//  #                   #
//  #     POLAROIDS     #
//  #                   #
//  #                   #
//  #                   #
//  # # # # # # # # # # #
//
//

// CONFIGURATION

       $color:       white;  // white default
        $size:       306px;  // width (and height)
      $border:        15px;
      $margin:        15px;
$border-title:        30px;  // title's playholder (min 40px to show it)
    $rotation:           0;  // 15deg Example: 15 => from -15 to 15deg
$develop-time:          0s;