/**
 * Modal
 */

@import "compass";

#modal{
  display: none;
  content: ' ';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;

  background-color: rgba(white, .8);
  pointer-events:all;
}

.watching #modal{
  display: block;
}