/**
 * Polaroids placeholder
 */
@import "compass";
@import "../config";

* {
  @include box-sizing(border-box);
}

#polaroids {
  position: relative;
  padding: $margin;
  @include clearfix;
  text-align: center;
  pointer-events: none;
}

//@include keyframes(develop) {
//    0% { opacity: 0; @include filter(saturate(0%)) }
//   70% { opacity: 1; @include filter(saturate(30%)) }
//  100% { opacity: 1; @include filter(saturate(100%)) }
//}